<<<<<<< HEAD

<h1>New Organization</h1>
=======
<h1><%= t ".new_organization" %></h1>
>>>>>>> 2fc115f9d6a30b66809abdcd6e428b7956e16e50

<%= render 'form', organization: @organization %>


<%= link_to 'Back', organizations_path %>
