     <header class="row" style="margin-top: 20px;">
        <div class = "col-xs-offset-1 col-xs-8">
          <ul class="nav nav-pills">
          <li><a href="add_users#show" >User</a></li>
            <li><a href="#" >Request</a></li>
            <li><a href="#" >Static Page</a></li>
          </ul>
        </div>
        <div class="col-xs-2">
              <div class="dropdown">
                <div style="display:inline-block" class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %>
                  <div class="dropdown-content" style="z-index: 999">
                    <%= link_to "Юзер", root_path %>
                    <%= link_to "Редактировать", edit_user_registration_path %>
                    <%= link_to "Выход", destroy_user_session_path, method: :delete %>
                  </div>
                </div>
              </div>
            </div>
        </header>